@import "shared/styles/_utilities.scss";
@import "shared/styles/_breakpoints.scss";

.Proportion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 40px;

  &-decimalsFilter {
    > span {
      font-size: rem(18px);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &-europeanLayout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    @include tablet {
      flex-direction: row;
      gap: 30px;
    }
  }

  @include tablet {
    height: 50%;
  }
}
