.Logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  img {
    width: 100px;
  }

  @include utilities.tablet {
    justify-content: center;

    img {
      width: 190px;
    }
  }
}
