@import "shared/styles/_colors.scss";
@import "shared/styles/_constants.scss";
@import "shared/styles/_utilities.scss";
@import "shared/styles/_breakpoints.scss";

.ErrorOverlay {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: fit-content;
  width: fit-content;
  background-color: $color-amaranth;
  font-size: rem(14px);
  font-weight: bold;
  color: $color-peppermint;
  border-radius: $borderRadius;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  @include tablet {
    bottom: 30px;
    top: unset;
    margin: unset auto;
  }
}
