@import "shared/styles/_colors.scss";
@import "shared/styles/_breakpoints.scss";

.App {
  background-color: $color-acqua;
  padding: 35px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include tablet {
    padding: 50px 0;
  }
}
