@import "shared/styles/_colors.scss";

.App {
  background-color: $color-acqua;
  padding: 50px 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
