$color-amaranth: #e63946;
$color-peppermint: #f1faee;
$color-acqua: #a8dadc;
$color-wadgewood: #457b9d;
$color-cello: #1d3557;
$color-whisper: #eeebf2;
$color-rum: #736b7e;
$color-mine-shaft: #1f1f1f;
