@use "sass:math";

@function rem($values...) {
  $rem-values: ();

  @each $value in $values {
    $rem-value: if(unit($value) == "px", math.div($value, 16px) * 1rem, $value);
    $rem-values: append($rem-values, $rem-value);
  }

  @return $rem-values;
}
